.my-alert{
    border-bottom: 7px solid #222;
    width: fit-content;
    padding: 1rem;
    border-radius: 5px;
    background-color: #fff;
    position: absolute;
    top: 2rem;
    left: 0;
    right: 0;
    margin-inline: auto;
    z-index: 10;
    transition: linear .3s all;
    transform: translateY(-400%);
}
.hide-alert{
    transform: translateY(-400%);
}
.show-alert{
    transform: translateY(85%);
}
.alert-content{
    max-width: 87%;
    text-wrap: nowrap;
    display: flex;
    justify-content: space-between;
    gap: .5rem;
}
.alert-close-container{
    background-color: transparent;
    border: none;
    left: .7rem;
    padding: 0;
    margin: 0;
    bottom: .7rem;
    cursor: pointer;
    position: relative;
}
.alert-danger-border{
    border-color: rgb(87, 5, 5);
}
.alert-danger-text{
    color: rgb(87, 5, 5);
}
.alert-success-border{
    border-color: rgb(21, 87, 5);
}
.alert-success-text{
    color: rgb(21, 87, 5);
}
